<!--div class for pop up window-->
<div class="modal fade" id="modal-create">
    <!--this div class for dialog window-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--this div class for title-->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
            <!--Here data-dismiss will allow the close window-->
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <form action="{% url 'create' %}" method="post">
                    <!--csrf_token for security-->
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="movieName">Name</label>
                        <input type="text" class="form-control" id="movieName" placeholder="Enter name" name="name" required/>
                    </div>

                    <div class="form-group">
                            <label for="moviePicture">Picture</label>
                            <!--name attribute and it's value is super important because we will refer to it in the backend-->
                            <input type="text" class="form-control" id="moviePicture" placeholder="Image Url" name="picture"/>    
                    </div>

                    <div class="form-group">
                            <label for="movieRating">Rating</label>
                            <input type="number" class="form-control" id="movieRating" placeholder="1-10" name="rating" min="0" max="10" required/>
                    </div>

                    <div class="form-group">
                            <label for="movieNotes">Notes</label>
                            <textarea name="notes" id="movieNotes" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create new movie</button>
                </form>
            </div>
        </div>
    </div>
</div>